body {
  font-family: arial, sans-serif;
  font-size: 16px;
  background-color: #F8F7ED;
  color: #423A33;
}

.wrapper {
  margin: 0 auto;
  width: 800px;
  height: 480px;
  position: relative;
}

canvas {
  margin: 0 auto;
  border: dotted 1px #423A33;
  background-color: #FFF;
  top: 0;
  left: 0;
  border: 1px solid black;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.background-canvas {
  height: auto;
  width: 100%;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 48px;
  margin: 20px;
  font-family: 'Indie Flower';
}

#mute {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 24px;
  font-family: "Indie Flower";
}

#mute:hover {
  cursor: pointer;
}

.unmute {
  text-decoration: line-through;
}

footer {
  width: 800px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #423A33;
  box-sizing: border-box;
  font-family: "Indie Flower";
  font-weight: bold;
  background-color: #FFF;
}

footer > section {
  padding: 12px;
  text-align: center;
  width: 33.33%;
}

footer > section:first-child {
  border-right: 1px solid #423A33;
}

footer > section:last-child {
  padding: 10px 40px;
  border-left: 1px solid #423A33;
  display: flex;
  justify-content: space-between;
}
